/* ここから共通クラス */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 35px;
}

p {
  text-align: center;
}

.clear {
  clear: left;
}



/* ここからヘッダー */


.header {
  height: 100px;
  width: 100%;
  background-color: rgba(255,255,204,0.8);
  position: fixed;
  top: 0;
  z-index: 10;
  text-align: center;
}

.header-left {
  float: left;
  font-size: 50px;
  font-family: Impact;
  text-align: center;
  line-height: 100px;
}

.header-right {
  float: right;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  line-height: 100px;
  display: inline-block;
  width: 120px;
  color:rgb(0,0,204);
  transition: all 0.3s;
  cursor: pointer;
}

li:hover {
  color:white;
  background-color:rgba(0,0,204,0.8);
}

.menu-icon {
  color: rgb(0,0,204);
  float: right;
  font-size: 30px;
  margin: 28px 20px;
  cursor: pointer;
  display: none;
}



/* ここからトップ */


.top-wrapper {
  height: 600px;
  padding: 100px 0 100px 0;
  background-image: url(IMG-3025.jpg);
  background-size: cover;
}

.title {
  text-align: center;
  opacity: 0.8;
  font-size: 70px;
  font-family: serif;
  color:yellow;
  text-shadow: 1px 3px 3px darkred;
  transform: rotate(-12deg);
  letter-spacing: 5px;
}


/* ここから要約 */



.about-wrapper h2 {
  padding-top: 100px;
}

.about-wrapper p {
  font-size: 17px;
}


/* ここから方法 */


.method-wrapper {
  padding-left: 2%;
  padding-right: 2%;
}
/* height: 550px;あったよ*/

.heading h2 {
  padding-top: 100px;
}

.method {
  float: left;
  width: 33%;
  padding: 0 15px;
  margin-bottom: 50px;
}

img {
  width: 350px;
  height: 280px;
  width: 100%;
  object-fit: cover;
  display: none;
}

.method-icon {
  position: relative;
}

.method-icon p {
  font-size: 40px;
  position: absolute;
  top: 10%;
  width: 100%;
  color: #d4ff50;
  display: none;
}

.text {
  width: 100%;
  display: inline-block;
  font-size: 15px;
}

.question {
  font-size: 18px;
}
/* border-bottom: 1px solid black; あったよ*/



/* ここから問い合わせ */


.contact-wrapper {
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding: 50px 0 80px 0;
}

textarea {
  resize: none;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid lightgray;
  font-size: 15px;
}

.btn {
  background-color:rgb(218, 165, 32);
  padding: 15px 40px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px rgb(66, 50, 9);
  margin-bottom: 30px;
}

.btn:hover {
  opacity: 1;
}

.btn:active {
  box-shadow: none;
  position: relative;
  top: 8px;
}

#click {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

footer {
  font-size: 6px;
}



/* レスポンシブ */
@media (max-width: 1024px) {

  .title {
    font-size: 52px;
  }
  .top-wrapper {
    height: 450px;
  }

  .method {
    width: 50%;
  }

  .header-right li {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    font-size: 11px;
  }

  h2 {
    font-size: 30px;
  }

 
}

@media (max-width: 599px) {

  .title {
    font-size: 35px;
  }
  .top-wrapper {
    height: 300px;
  }
  .method {
    width: 100%;    
  }

  .header-left {
    font-size: 40px;
  }

}

